/* 

цвет основного текста: #212121
вторичный цвет текста: #757575
белый: #FFFFFF;
размытый белый: rgba(255, 255, 255, 0.6);
акцент: #2196F3
цвет фона вторичный (светло-серый): #F5F4FA
цвет фона вторичный (темно-серый): #2F303A
*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f5f5;
  --white-blurred: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondary-background-light: #f5f4fa;
  --secondary-background-dark: #2f303a;
  /* --icons-bg-2nd-page: #eeeeee; */
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* logo */

.logo {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo .logo-item {
  color: var(--accent-color);
}

.footer-section .logo {
  color: var(--primary-bg-color);
}

/* nav */

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.contact .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: var(--secondary-background-dark);
}

.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */

section {
  background-color: var(--secondary-bg-color);
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-list .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section-team {
  background-color: var(--secondary-background-light);
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;
}

.team-list .text,
.gallery-list .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;
}

.gallery-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

/* footer */

.footer-section {
  background-color: var(--secondary-background-dark);
}

.address-list .route {
  color: var(--primary-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

.address-list .link {
  color: var(--white-blurred);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

/* button */

.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.secondary-button {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-light);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
